<% content_for(:page_title, "Team: Edit #{@club.name}")%>


<%= turbo_frame_tag @club do %>
  <%= render "form", club: @club %>
 
<% end %>


<br>

<div>
  <%= link_to "Show this club", @club %> |
  <%= link_to "Back to clubs", clubs_path %>
</div>
