<% content_for(:page_title, "All Clubs")%>

<div class="m-2">
    <%= link_to "Click Here to Add New Club", clubs_path, class: link_class %>
</div>

<% if @clubs.any? %>

    <%= render partial: "clubs_table", clubs: @clubs %>

    <% else %>
        <p class="px-6 py-4">
        No records to view</p>
    <% end %>
<br>



