<main class="container">
  <%= link_to sanitize("&larr; Back to admin home"), clubs_path %>

  <div class="header">
    <h1>New club</h1>
  </div>

  <%= turbo_frame_tag @club do %>
    <%= render "form", club: @club %>
  <% end %>
</main> 
