<main class="container">
  <div class="header">
    <% content_for(:page_title, "New Club") %>
  </div>

   <% context = params[:context] %>

 <% if params[:context].blank? %>
    <%= turbo_frame_tag dom_id(@club || Club.new) do %>
      <%= render "form", club: @club %>
    <% end %>
  <% else %>
    <%= render "form", club: @club %>
  <% end %>
</main>