
<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>

     <div class="error-message">
       <%= team.errors.full_messages.to_sentence.capitalize %>
     </div>
   <% end %>
  
    
    <%= form.text_field  :name, input_html: { autofocus: true } %>
    <%= form.submit class: "btn btn--secondary" %>
  <% end %>