<% content_for(:page_title, "Teams: Add new team")%>

<main class="container">

  <div class="header">
  </div>

  <%= turbo_frame_tag @team do %>
    <%= render "form", team: @team %>
   <% end %>
 
  <br>
   <%= link_to sanitize("&larr; Back to teams"), teams_path %>
</main>