<div id="<%= dom_id sample_word %>">

<div class="max-w-sm">
 <div class="block justify-between p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

  <div class="mt-2">
    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        Category:
    </p>
    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
   <%= sample_word.category %>
    </p>
    </div>
    
   <div class="mt-2">
    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        Title:
    </p>
    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
      <%= sample_word.title %>
    </p>
   </div>
</div>

<div class="block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

    <p class="text-sm text-gray-500 dark:text-gray-400">
        Description/Contents:
    </p>
    <p class="text-sm font-medium text-gray-900 dark:text-white">
   <%= sample_word.desc %>
    </p>

</div>
