<% content_for(:page_title, "Sample Words: Edit")%>


<%= render "form", sample_word: @sample_word %>

<br>

<div>
  <%= link_to "Show this sample word", @sample_word, class: link_class %> |
  <%= link_to "Back to sample words", sample_words_path, class: link_class %>
</div>
