<% content_for(:page_title, "Sample Words")%>

<div id="sample_words">

 <div class="my-4">
        <%= link_to "Add New Sample Words", new_sample_word_path, class: form_button_class %>
        <br>
     </div>
 
<% if @sample_words.any? %>

    <div id="sample_words">
   
     <% @sample_words.each do |sample_word| %>  
        <table class="w-full text-left rtl:text-right">
            <thead class="border-b text-gray-300 font-base text-sm ">
              <tbody  class="border"> 
              <tr>
                <td scope="col" class="px-6 py-3">
                    Category 
                </td>
                <td scope="col" class="px-6 py-3 text-blue-900">
                    <%= link_to sample_word.category, edit_sample_word_path(sample_word), class: link_class %>
                </td>
            </tr>
            <tr>
                <td scope="col" class="px-6 py-3">
                    Title 
                </td>
                <td scope="col" class="px-6 py-3 text-blue-900">
                   <%= sample_word.title %>
                </td>
            </tr>
            <tr>
                <td scope="col" class="px-6 py-3">
                    Description 
                </td>
                <td scope="col" class="px-6 py-3 text-blue-900">
                    <%= sample_word.desc %>
                </td>
            </tr>  
            </tbody>
            </table>
            <br>
         <% end %>
    </div>
     </div>
 
     <% else %>
      <p class="px-6 py-4">
        No records to view
      </p>
       <% end %>   
  </div>


