<%# app/views/people/index.html.erb %>

<%# Title %>
<% content_for :page_title, "People – #{@role.pluralize}" %>

<%= turbo_frame_tag "people_filters_nav" do %>
  <%= render "people/people_filters_nav" %>
<% end %>

<div class="my-4">
  <%= link_to "Add New Person", new_person_path, class: form_button_class %>
</div>
