<% content_for(:page_title, "Educator Follow Up")%>
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">

<%= render @follow_up %>
<br>

  <%= link_to "Edit this follow up", edit_follow_up_path(@follow_up), class: link_class   %> |
  <%= link_to "Back to follow ups", follow_ups_path, class: link_class   %>

  <%= button_to "Destroy this follow up", @follow_up, method: :delete %>
</div>