<% content_for(:page_title, "Partner: Edit #{@partner.company}")%>


<%= render "form", partner: @partner %>

<br>

<div>
  <%= link_to "Show this partner", @partner %> |
  <%= link_to "<< Back to partners", partners_path %>
</div>
