<% content_for(:page_title, "My Netball Academy: New") %>

<%= render "form", netball_academy: @netball_academy %>


<div class="m-4">
  <%= link_to "<< Back to All", netball_academies_path %>
</div> 
