
<%= form_with(model: taem) do |form| %>

    <% if taem.errors.any? %>
      <div class="error-message">
        <%= taem.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>
  
    
    <%= form.text_field  :name, input_html: { autofocus: true } %>
    <%= form.submit class: "btn btn--secondary" %>
  <% end %>