<main class="container">
  <%= link_to sanitize("&larr; Back to taem"), taem_path(@taem) %>

  <div class="header">
    <h1>Edit taem</h1>
  </div>

  <%= turbo_frame_tag @taem do %>
  <%= render "form", taem: @taem %>
<% end %>
</main>