<main class="container">
  <%= link_to sanitize("&larr; Back to teams"), na_teams_path %>

  <div class="header">
    <h1>New team</h1>
  </div>

  <%= turbo_frame_tag @na_team do %>
    <%= render "form", na_team: @na_team %>
  <% end %>
</main>
