<% content_for(:page_title, "Educators")%>

<%= render @educator %>

<div>
  <%= link_to "Edit this educator", edit_educator_path(@educator), class: block_link_class %>
  <%= link_to "Back to educators", educators_path, class: block_link_class %>
  <%= button_to "Destroy this educator record", @educator, method: :delete, class: block_link_class %>
</div>
