<% content_for(:page_title, "Equipment: Edit")%>

<%= render "form", equipment: @equipment %>

<br>

<div>
  <%= link_to "Show this equipment", @equipment %> |
  <%= link_to "Back to equipment", equipment_index_path %>
</div>
