<% content_for(:page_title, "Equipment: Edit")%>

<%= render "form", equipment: @equipment %>

<br>

<div class="mb-8">
  <%= link_to "Show this equipment record", @equipment %> |
  <%= link_to "Back to equipment sales", equipment_index_path %>
</div>
<br>
