<% content_for(:page_title, "BAI Programs: Add new program")%>
<div class="m-2">
<%= render "form", program: @program %>
</div>

<div>
  <%= link_to "<< Back to BAI Programs", programs_path %>
</div>


