<% content_for(:page_title, "System Users")%>

<div class="m-2 lg:m-4">
<div id="users">


<% headers = ["First Name", "Last Name", "Email", "Created", "Last Sign In", "Role", "Is_admin?", "Is_active?", "[:Id]"] %>

<div class="m-4 lg:m-8" id="users">

  <%= render partial: "user_table",
      locals: {
        title: "Confirmed System Users",
        users: @users,
        headers: headers,
        include_confirmation: false,
        include_active?: true
      } %>

  <%= render partial: "user_table",
      locals: {
        title: "Team Administrators",
        users: @team_leads,
        headers: headers,
        include_confirmation: false,
        include_active?: true
      } %>

  <%= render partial: "user_table",
      locals: {
        title: "Locked Accounts",
        users: @users_locked,
        headers: headers,
        include_confirmation: false,
        include_active?: true
      } %>

  <%= render partial: "user_table",
      locals: {
        title: "Users Awaiting Email Confirmation",
        users: @users_awaiting_confirmation,
        headers: headers,
        include_confirmation: true,
        include_active?: false
      } %>

  <hr class="my-4">
  <div class="m-4 text-sm text-gray-700">
    <strong>[OFFICE USE ONLY]</strong> User Role Definitions:
    <ul class="mt-2 list-disc ml-6 space-y-1">
     <li>0 : admin (everything)</li>
    <li>1 : teams_grants (teams and grants, events, programs, venues, tours)</li>
    <li>2 : teamlead (teams only)</li>
    <li>3 : grants only </li>
    <li>4 : no_access</li>
    <li>5 : teams admin level</li>
    <li>6 : sponsors_events</li>
    <li>7 : us_open (US Open and people)</li>
    <li>8 : educators_events (educators, followups and events)</li>
    <li>9 : sponsors_media_events</li>
    <li>10: educators_events_medium (includes us open</li>
    <li>11: spare (no specific permissions)</li>
    <li>12: na_people (person and US Open access)</li>
     <li>13: as 8 but also manage own profile and own transfer</li>
    </ul>
    <p class="mt-2">All roles have access to create Educator</p>
  </div>
</div>

 
