<% content_for(:page_title, "Event: Edit")%>

<%= render "form", event: @event %>

<div>
  <%= link_to "Show this event", @event, class: link_class %> |
  <%= link_to "Back to events", events_path, class: link_class %>
</div>
