<% content_for(:page_title, @page_title || "Events") %>

<%= render "events_header",
  show_new_button: true,
  show_filters: true
%>

<div class="m-2">
  <% if @events.any? %>
    <%= render "events_table" %>
  <% else %>
    <p class="px-6 py-4">No records to view</p>
  <% end %>
</div>

