<% content_for(:page_title, "Events: Add new record")%>

<%= render "form", event: @event %>

<div>
  <%= link_to "<< Back to All Events", events_path, class: link_class %><br>
   <%= link_to "<< Back to Educational Events", educational_events_path, class: link_class %>
</div>


