<% content_for(:page_title, "Event")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
 
<%= render @event %>

</div>

<br>

<div>
  <span class="ml-6"><%= link_to "Edit this Event", edit_event_path(@event), class: link_class %> <br>
  <%= link_to "<< Back to Events", events_path, class: link_class %>

  <% if is_admin? %>
    <%= button_to "Delete this record",  @event, method: :delete %>
  <% end %>
</div>
