<% content_for(:page_title, "Sponsor Targets: Edit:  #{@sponsor.company_name}")%>

<%= render "form", sponsor: @sponsor %>

<br>

<div>
  <%= link_to "Show this sponsor", @sponsor, class: link_class %> |
  <%= link_to "Back to sponsors", sponsors_path, class: link_class %>
</div>
