<% content_for(:page_title, "Sponsor Target: #{@sponsor.company_name}")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
  
   <br>
 
<%= render @sponsor %>


<br>
<div>
  <%= link_to "Edit this sponsor", edit_sponsor_path(@sponsor), class: link_class %> |
  <%= link_to "Back to sponsors", sponsors_path, class: link_class %>

  <%= button_to "Delete this record", @sponsor, method: :delete %>
</div>

