<% content_for(:page_title, "Sponsor Targets")%>

<%= render @sponsor %>


<br><br>
<div>
  <%= link_to "Edit this sponsor", edit_sponsor_path(@sponsor) %> |
  <%= link_to "Back to sponsors", sponsors_path %>

  <%= button_to "Destroy this sponsor", @sponsor, method: :delete %>
</div>
