<% content_for(:page_title, "Sponsor Target")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

   <br>
 
<%= render @sponsor %>


<br>
<div>
  <%= link_to "Edit this sponsor", edit_sponsor_path(@sponsor), class: link_class %> |
  <%= link_to "Back to sponsors", sponsors_path, class: link_class %>

  <%= button_to "Delete this record", @sponsor, method: :delete %>
</div>

