<!-- app/views/memberships/landing_teams.html.erb -->
<p class="p-4 font-bold text-center text-blue-900 text-3xl">
  Welcome back, <%= @club.name %>!
</p>

<p class="text-center text-gray-600 text-lg mt-2">
  Manage your club membership and view your club details.
</p>


<div class="flex justify-center items-start mt-8">
  <div class="p-2">
   <%= button_to (@club.present? ? @club.name : "Club Membership"),
    clubs_path,
    method: :get,
    class: "h-20 w-60 bg-blue-900 text-white font-semibold hover:bg-blue-800 hover:shadow-lg transform hover:scale-105 transition-transform duration-300 py-2 px-4 border border-blue-900 rounded" %>

    <div class="w-60 p-2 text-center font-light text-gray-600 text-sm">
      Click to View Club Details
    </div>
  </div>
</div>

