<p class="p-4 font-bold text-center text-blue-900 text-3xl">
  Welcome to Netball America Membership!
</p>

<p class="text-center text-gray-600 text-lg mt-2">
  Please select your membership type to get started.
</p>

<div class="flex flex-wrap justify-center items-start gap-6 mt-8">
  <div class="p-2">
    <%= button_to "Club Membership",
        clubs_path,
        method: :get,
        class: "h-20 w-60 bg-blue-900 text-white font-semibold hover:bg-blue-800 hover:shadow-lg transform hover:scale-105 transition-transform duration-300 py-2 px-4 border border-blue-900 rounded" %>

    <div class="w-60 p-2 text-center font-light text-gray-600 text-md">
      I manage or administer a club and want to set up Club Membership.
    </div>
  </div>

  <div class="p-2">
    <%= button_to "Individual Membership",
        new_individual_member_path,
        method: :get,
        class: "h-20 w-60 bg-teal-900 text-white font-semibold hover:bg-teal-800 hover:shadow-lg transform hover:scale-105 transition-transform duration-300 py-2 px-4 border border-teal-900 rounded" %>

    <div class="w-60 p-2 text-center font-light text-gray-600 text-md">
      I am an Educator, Umpire, or Individual who wants to set up Individual Membership.
    </div>
  </div>
</div>
