<!-- app/views/memberships/landing_individual.html.erb -->
<% if individual.present? %>
  <p class="p-4 font-bold text-center text-teal-900 text-3xl">
    Welcome back, <%= individual.full_name %>!
  </p>
<% else %>
  <p class="p-4 font-bold text-center text-teal-900 text-3xl">
    Welcome back, Guest!
  </p>
<% end %>

<p class="text-center text-gray-600 text-lg mt-2">
  View and manage your individual membership details.
</p>

<div class="flex justify-center items-start mt-8">
  <div class="p-2">
    <%= button_to (individual.present? ? "#{individual.first_name} #{individual.last_name}" : "Individual Membership"),
        (individual.present? ? individual_member_path(individual.id) : "#"),
        method: :get,
        class: "h-20 w-60 bg-teal-900 text-white font-semibold hover:bg-teal-800 hover:shadow-lg transform hover:scale-105 transition-transform duration-300 py-2 px-4 border border-teal-900 rounded",
        disabled: individual.blank? %>

    <div class="w-60 p-2 text-center font-light text-gray-600 text-sm">
      Show My Details
    </div>
  </div>
</div>