
    
<div class="min-h-screen bg-gray-50 justify-start relative overflow-hidden sm:py-8 sm:pl-12">
  <div class="max-w-7xl mx-auto">
 
  <a href="/pages/membership_landing/" class="block pl-8 pt-8 text-xl text-blue-900 hover:text-gray-400">Let's Get Started' →</a>

  </div>
</div>