<!-- app/views/pages/_us_open_home.html.erb -->

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-4 auto-rows-fr max-w-screen-xl mx-auto">
  <%= render partial: "dashboard/cards/us_open" %>
  <%= render partial: "dashboard/cards/people" %>
</div>
<br><br><br>