<!-- Statistics Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-4 gap-4">
          <div class="bg-blue-900 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-gray-300 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
              <i class="fa-solid fa-chalkboard-user text-blue-800 dark:text-white hover:underline"></i>
            </div>
            <div class="text-right">
              <p class="text-2xl"><%= link_to Transfer.all.count, netball_educators_path %></p>
              <p><%= link_to "US Open", transfers_path %></p>
            </div>
          </div>
          
          <div class="bg-blue-900 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-gray-300 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
            <i class="fa-solid fa-people-group text-blue-800 dark:text-white hover:underline"></i>
          </div>
          <div class="text-right">
            <p class="text-2xl"><%= link_to Person.all.count, people_path %></p>
            <p><%= link_to "People", people_path %></p>
          </div>
        </div>
          
        <!-- ./Statistics Cards -->