<div class="container mx-auto">
<div class="h-14 bg-transparent"></div>

<% if  @member_type =="None" %>
  <%= render "landing_new" %>
  <% elsif @member_type =="Individual" %>
  <%= render "landing_individual" %>
  <% else @member_type =="Club" %>
  <%= render "landing_teams" %>
  <% end %>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</div>