<% content_for(:page_title, "Vendor: #{@vendor.company_name}") %>

<%= render @vendor %>

<hr class="my-2">
<div>
  <%= link_to "Edit this vendor", edit_vendor_path(@vendor) %> <br>
  <%= link_to "<< Back to vendors", vendors_path %>
  <% if current_user.admin? %>
 
<% end %>
  
</div>
