<% content_for(:page_title, "Person: Edit")%>

<%= render "form", umpire: @umpire %>

<br>

<div>
  <%= link_to "Show this umpire", @umpire, class: link_class %> |
  <%= link_to "Back to umpires", umpires_path, class: link_class %>
</div>
