<% content_for(:page_title, "Team Membership Payments")%>

<div id="payments">

<div class="">
   <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
      <li class="me-2">
            <a href="/payments/" class="inline-block p-4 text-blue-900 bg-gray-100 rounded-t-lg active" aria-current="page">Team Payments</a>
        </li>
        <li class="me-2">
            <a href="/payments/index_indiv" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Individual Payments</a>
        </li>
        
      </ul>
</div>

<div class="m-4">
  <%= link_to "New payment", new_payment_path, class: form_button_class %>
</div>

<div class="mx-auto mt-4">
<%= render "payments", payments: @payments %>
</div>



