<% content_for(:page_title, "Payment Details")%>
  <div class="m-4>
  <%= render @payment %>

  <div>
    <%= link_to "Edit this payment", edit_payment_path(@payment) %> |
    <%= link_to "<< Back to all payments", payments_path %>

    <%= button_to "Destroy this payment", @payment, method: :delete %>
  </div>
</div>
