<% content_for(:page_title, "Reference: Edit")%>

<%= render "form", sponsor: @reference %>

<br>

<div>
  <%= link_to "Show this reference", @reference, class: link_class %> |
  <%= link_to "Back to references", references_path, class: link_class %>
</div>
