<% content_for(:page_title, "Grant: Edit")%>

<%= render "form", grant: @grant %>

<br>

<div>
  <%= link_to "Show this grant", @grant, class: link_class %> |
  <%= link_to "Back to grants", grants_path, class: link_class %>
</div>
