<% content_for(:page_title, "Grant: Edit")%>

<%= render "form", grant: @grant %>

<br>

<div>
  <%= link_to "Show this Grant", @grant, class: link_class %> 
  <%= link_to "Back to Grants", grants_path, class: link_class %>
</div>
