<% content_for(:page_title, "Grant: #{@grant.name}")%>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

  
 
<%= render @grant %>


<br>

<div>
  <%= link_to "Edit this Grant", edit_grant_path(@grant), class: link_class %> | 
  <%= link_to "Back to Grants", grants_path, class: link_class %>

  <%= button_to "Delete this record",  @grant, method: :delete %>
</div>







