<% content_for(:page_title, "Individual Member: #{@individual_member.full_name} ")%>

<div class="m-4">
  <div class="text-xl font-semibold text-blue-900 my-4">
    Member Details 
    <hr>
  </div>

  <%= render @individual_member %>
  <br>
  
  <div class="text-xl font-semibold text-blue-900 my-4">
    Membership Fees
    <hr>
  </div>
  <div class="text-base font-normal text-gray-600 my-2 ml-2">
    Please pay your annual fees via your chosen method from the list below. Once payment is confirmed your account will be updated.
  
  </div>
  <div class="my-2">
    <%= render "membership_fees" %>
  </div>

  </div>


