<p style="color: green"><%= notice %></p>

<h1>Opportunities</h1>

<div id="opportunities">
  <% @opportunities.each do |opportunity| %>
    <%= render opportunity %>
    <p>
      <%= link_to "Show this opportunity", opportunity %>
    </p>
  <% end %>
</div>

<%= link_to "New opportunity", new_opportunity_path %>
