<% content_for(:page_title, "Sponsor Opportunities")%>

  <div class="mb-4">
    <ul class="flex border-b">
      <li class="mr-1">
        <%= link_to "All Opportunities", opportunities_path, class: "border-blue-200 inline-block py-2 px-4 text-gray-700 border-b-2 border-transparent hover:border-gray-300" %>
      </li>
      <li>
        <%= link_to "My Opportunities", my_index_opportunities_path, class: "inline-block py-2 px-4 text-gray-700 border-b-2 border-transparent hover:border-gray-300" %>
      </li>
    </ul>
  </div>

  <div class="relative overflow-x-auto p-4">
    <%= render 'opportunities_table' %>
  </div>

