<% content_for(:page_title, "Hotel and Airport: Edit")%>


<%= render "form", transfer: @transfer %>

<br>

<div>
    <%= link_to "Show this record", @transfer, class:link_class %> <br>
    <%= link_to "Back to hotel & flights", transfers_path, class:link_class %><br>
    <a href="/transfers/index_inbound_pickup/" class="text-md font-medium text-blue-900 italic">Arrivals Transfers</a> | 
    <a href="/transfers/index_outbound_pickup/" class="text-md font-medium text-blue-900 italic">Departures Transfers</a>
     
   <% if user_signed_in? %> 
    <%= button_to "Destroy this transfer", @transfer, method: :delete %>
    <% end %>
</div>
