<% content_for(:page_title, "Hotel and Airport: Edit")%>


<%= render "form", transfer: @transfer %>

<br>

<div>
  <%= link_to "Show this transfer", @transfer, class: link_class %> |
  <%= link_to "Back to transfers", transfers_path, class: link_class %>
</div>
