<% content_for(:page_title, "External View: Transfer") %>

SONYA -THIS IS AN EXAMPLE OF WHAT THE FORM LOOKS LIKE EXTERNALLY -

<div class="max-w-4xl mx-auto p-6 mt-6 border-8 border-blue-900 rounded-xl shadow-xl bg-white">
  <h2 class="text-2xl font-semibold mb-6 text-center text-blue-900">Transfer Form Preview</h2>

  <%= render "form_external", transfer: @transfer %>
</div>

