<% content_for(:page_title, "Airport : Hotel : Qualifications : Visas ")%>
<% unless current_user.nil? %>  
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md md:max-w-lg justify-center">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <% end %>
      <br>

      <%= render @transfer %>
    </div>
  </div>

  <br>

  <% if user_signed_in? %> 
  <div>
    <%= link_to "Edit this record", edit_transfer_path(@transfer), class:link_class %> <br>
    <%= link_to "Back to hotel & flights", transfers_path, class:link_class %><br>
    <a href="/transfers/index_inbound_pickup/" class="text-md font-medium text-blue-900 italic">Arrivals Transfers</a> | 
    <a href="/transfers/index_outbound_pickup/" class="text-md font-medium text-blue-900 italic">Departures Transfers</a>
     
    <%= button_to "Destroy this transfer", @transfer, method: :delete %>
    <% end %>
  </div>
