<p><%= @email %> has registered to join your site!</p>
<p>An admin can approve this registration by visiting the website and editing the user</p>
<p><% a= User.where(email: @email) %> ID:<%=  a.first.id %></p>