<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed. 
If you did not make this change, please forward this email to TechSupport@NetballAmerica.com immediately.</p>

<p>Regards, <br>

</p>
 <p>
  <%= image_tag asset_url("Netball_America_Logo.png"), alt: "Netball America", style: "max-width: 200px;" %>
</p>
