<% content_for(:page_title, "Regions: Edit")%>

<%= render "form", region: @region %>

<br>

<div>
  <%= link_to "Show this region", @region, class: link_class %> |
  <%= link_to "Back to regions", regions_path, class: link_class %>
</div>
