<div class="my-4 ml-2">
   <ul class="flex flex-wrap text-xs font-medium text-left text-gray-500">
        <li class="me-2">
         <a href="/netball_educators/pe_directors" class="inline-block p-2 rounded-t-lg active" >P.E. Directors</a>
        </li>
         <li class="me-2">
            <a href="/netball_educators/" class="inline-block p-2 rounded-t-lg active" aria-current="page">All Educators</a>
        </li>
        <li class="me-2">
            <a href="/netball_educators/index_state" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By State</a>
        </li>
        <li class="me-2">
            <a href="/netball_educators/index_level" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">By Level</a>
        </li>
         <li class="me-2">
            <a href="/netball_educators/index_user" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">My Educators</a>
        </li>
       
       <li class="me-2">
          <a href="/netball_educators/search" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Search</a>
      </li>
      <li class="me-2">
            <a href="/equipment" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Equipment Purchased</a>
        </li>
        <li class="me-2">
        <a href="/follow_ups" class="inline-block p-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Follow Ups</a>
    </li>
  </ul>
</div>