<% content_for(:page_title, "Educators: Edit")%>

<%= render "form", netball_educator: @netball_educator %>

<br>

<div>
  <%= link_to "Show this educator", @netball_educator, class: block_link_class %>
  <%= link_to "Back to educators", netball_educators_path, class: block_link_class %>
</div>
