<% content_for :page_title do %>
  <% case @netball_educator.role %>
  <% when "Kidokinetics" %>
    Kidos: Edit Franchise Record
  <% when "PE Director" %>
    PE Director: Edit
  <% when "Talentlockr" %>
    Talentlockr: Edit
  <% else %>
    Educator: Edit
  <% end %>
<% end %>



<%= render "form", netball_educator: @netball_educator %>

<br>

<div class="mb-4">
  <%= link_to "Show this educator", @netball_educator, class: block_link_class %>
  <%= link_to "<< Back to educators", netball_educators_path, class: block_link_class %>
</div>
