<% content_for(:page_title, "Educators - By Level")%>

<div class="p-2">
    <%= link_to "Add New Educator", new_netball_educator_path, class: form_button_class %>
</div>

 <%= render 'nav_tabs' %>

  <%= render 'educators_table' %>



    
   
