<% content_for(:page_title, "P.E. Directors")%>

<%= render 'nav_tabs' %>

<div class="py-4 ml-2">
  <% if current_user.admin? %>
    <%= link_to "Add New Educator", new_netball_educator_path, class: form_button_class %>
  <% end %>
</div>

<div class="">
  <% if @netball_educators.any? %>
    <div id="educators">
      <%= render 'educators_table', educators: @netball_educators %>
    </div>
  <% else %>
    <p class="px-4 py-2">No records to view</p>
  <% end %>
</div>


    
   
