<% content_for(:page_title, "P.E. Directors")%>

<%= render 'nav_tabs' %>

<div class="flex justify-between items-end flex-wrap gap-4 px-4 py-4">
  <!-- Left side: Add New button -->
     <div>
      <%= link_to "Add New", new_netball_educator_path, class: form_button_class %>
    </div>
 
  <!-- Right side: Filters -->
  <div class="ml-auto">
   <%= render 'netball_educators/filters', filter_url: pe_directors_path %>

  </div>
</div>

<div class="">
  <% if @netball_educators.any? %>
    <div id="educators">
      <%= render 'educators_table', educators: @netball_educators %>
    </div>
  <% else %>
    <p class="px-4 py-2">No records to view</p>
  <% end %>
</div>


    
   
