<% content_for(:page_title, "School/District Leads")%>

<%= render 'nav_tabs' %>

<div class="p-4">
  <% if current_user.admin? %>
    <%= link_to "Add New Educator", new_netball_educator_path, class: form_button_class %>
  <% end %>
</div>

<% if @netball_educators.any? %>
  <div id="educators">
    <%= render 'educators_table', educators: @netball_educators, hide_level: true %>
  </div>
<% else %>
  <p class="px-4 py-2">No records to view</p>
<% end %>


    
   
