<% if user_signed_in? %>
 <% content_for(:page_title, "Educator")%>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
<% end %>

 <% unless user_signed_in? %>
   <br>
   <p class="text-center text-xl text-blue-900">Teacher's Information Form</p><br>
  <% end %>

<%= render @netball_educator %>

<br>
<% if user_signed_in? %>
  <div>
  <%= link_to "Edit this educator", edit_netball_educator_path(@netball_educator), class: block_link_class %> 
  <%= link_to "Back to PE Directors", pe_directors_path, class: block_link_class %>

  <%= button_to "Delete this record",  @netball_educator, method: :delete %>
  </div>
  </div>
</div>
<% end %>
