

<%= render @netball_educator %>

<br>
<% if user_signed_in? %>
<div>
  <%= link_to "Edit this netball educator", edit_netball_educator_path(@netball_educator), class: block_link_class %> 
  <%= link_to "Back to netball educators", netball_educators_path, class: block_link_class %>

  <%= button_to "Destroy this netball educator", @netball_educator, method: :delete %>
</div>
<% end %>
