<ul class="ml-6 text-xs xl:text-xs ">
  <% if current_user.admin? %>
    <!-- Admin menu items -->
    <li class="mt-2">
      <a href="/netball_educators/pe_directors" class="text-gray-100 hover:font-bold">EDUCATORS</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/equipment" class="text-gray-100">- Equipment</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/events" class="text-gray-100">- Events</a>
    </li>
    
    <li class="mt-2">
      <a href="/sponsors" class="text-gray-100 hover:font-bold">SPONSORS</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/opportunities" class="text-gray-100">- Opportunities</a>
    </li>
    <li class="mt-2">
      <a href="/grants/" class="text-gray-100 hover:font-bold">GRANTS</a>
    </li>
    <li class="mt-2">
      <a href="/partners/" class="text-gray-100 hover:font-bold">PARTNERS</a>
    </li>
    <li class="mt-2">
      <a href="/vendors/" class="text-gray-100 hover:font-bold">VENDORS</a>
    </li>
    <li class="mt-2">
      <a href="/tours/" class="text-gray-100 hover:font-bold">TOURS</a>
    </li>
    <li class="mt-2">
      <a href="/media/" class="text-gray-100 hover:font-bold">MEDIA</a>
    </li>
    <li class="mt-2 ml-2">
      <%= link_to "- Published", published_media_path, class: "text-gray-100 hover:font-bold"%>
    </li>

    <li class="mt-2">
      <%= link_to "NA PEOPLE", people_path, class: "mt-8 text-gray-100 hover:font-bold" %>
    </li>
    <li class="mt-2">
      <a href="/events/" class="text-gray-100 hover:font-bol">EVENTS</a>
    </li>
    <li class="mt-2">
      <a href="/programs" class="text-gray-100 hover:font-bol">BAI PROGRAMS</a>
    </li>
    <li class="mt-2">
      <a href="/venues" class="text-gray-100 hover:font-bol">VENUES</a>
    </li>
    <li class="mt-2">
      <a href="/transfers/" class="text-gray-100 hover:font-bol">US OPEN</a>
    </li>
   
    <li class="mt-2 ml-2">
      <a href="/transfers/new" class="text-gray-100 hover:font-bold">- Add New Attendee</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/transfers/" class="text-gray-100 hover:font-bold">- Event Attendees</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/transfers/inbound_pickups_transfers_path" class="text-gray-100 hover:font-bold">- Arrivals Transfers</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/transfers/outbound_pickups_transfers_path" class="text-gray-100 hover:font-bold">- Departure Transfers</a>
    </li>
   
    <li class="mt-2">
      <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">MEMBERSHIP</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">- All Clubs</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/members" class="text-gray-100 hover:font-bold">- All Members</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs" class="text-gray-100 hover:font-bold">- Admin Managed Clubs</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/individual_members/" class="text-gray-100 hover:font-bold">- Individual Members</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">- Clubs by Region</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/payments/" class="text-gray-100 hover:font-bold">- Payments</a>
    </li>
  <% elsif current_user.teamlead? %>
    <!-- Special case for teamlead role -->
    <li class="mt-8">
      <a href="/clubs/" class="text-gray-100 underline underline-offset-2">Navigation Links</a>
    </li>
    <li class="mt-2">
      <a href="/clubs/" class="text-gray-100 hover:font-bold">My Club</a>
    </li>
  <% else %>
    <!-- Dynamic menu based on user permissions -->
    <% if can? :manage, NetballEducator %>
      <li class="mt-2">
        <a href="/netball_educators/pe_directors" class="text-gray-100 hover:font-bold">PE DIRECTORS</a>
      </li>
      <li class="mt-2">
        <a href="/netball_educators" class="text-gray-100 hover:font-bold">EDUCATORS</a>
      </li>
    <% end %>

    <% if can? :manage, FollowUp %>
      <li class="mt-2">
        <a href="/follow_ups" class="text-gray-100 hover:font-bold">FOLLOW UPS</a>
      </li>
    <% end %>

    <% if can? :manage, Sponsor %>
      <li class="mt-2">
        <a href="/sponsors" class="text-gray-100 hover:font-bold">SPONSORS</a>
      </li>
      <% if can? :manage, Opportunity %>
        <li class="mt-2 ml-2">
          <a href="/opportunities" class="text-gray-100 hover:font-bold">- Opportunities</a>
        </li>
      <% end %>
    <% end %>

    <% if can? :manage, Grant %>
      <li class="mt-2">
        <a href="/grants/" class="text-gray-100 hover:font-bold">GRANTS</a>
      </li>
    <% end %>

    <% if can? :manage, Person %>
      <li class="mt-2">
        <%= link_to "NA PEOPLE", people_path, class: "text-gray-100 hover:font-bold" %>
      </li>
    <% end %>

    <% if can? :manage, Event %>
      <li class="mt-2">
        <a href="/events" class="text-gray-100 hover:font-bold">EVENTS</a>
      </li>
    <% end %>

    <% if can? :manage, Medium %>
      <li class="mt-2">
        <a href="/media" class="text-gray-100 hover:font-bold">MEDIA</a>
      </li>
      <li class="mt-2 ml-2">
        <%= link_to "- Published", published_media_path, class: "text-gray-100 hover:font-bold"%>
      </li>
    <% end %>

    <% if can? :manage, Club %>
      <li class="mt-2">
        <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">MEMBERSHIP</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/clubs/index_admin" class="text-gray-100 hover:font-bold">- All Clubs</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/members" class="text-gray-100 hover:font-bold">- All Members</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/clubs" class="text-gray-100 hover:font-bold">- Admin Managed Clubs</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/individual_members/" class="text-gray-100 hover:font-bold">- Individual Members</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/clubs/teams_list_index" class="text-gray-100 hover:font-bold">- Clubs by Region</a>
      </li>
    <% end %>

    <% if can? :manage, Payment %>
      <li class="mt-2 ml-2">
        <a href="/payments/" class="text-gray-100 hover:font-bold">- Payments</a>
      </li>
    <% end %>

    <% if can? :manage, Tour %>
      <li class="mt-2">
        <a href="/tours/" class="text-gray-100 hover:font-bold">TOURS</a>
      </li>
    <% end %>

    <% if can? :manage, Venue %>
      <li class="mt-2">
        <a href="/venues" class="text-gray-100 hover:font-bold">VENUES</a>
      </li>
    <% end %>

    <% if can? :manage, Program %>
      <li class="mt-2">
        <a href="/programs" class="text-gray-100 hover:font-bold">BAI PROGRAMS</a>
      </li>
    <% end %>

    <% if can? :manage, Partner %>
      <li class="mt-2">
        <a href="/partners/" class="text-gray-100 hover:font-bold">PARTNERS</a>
      </li>
    <% end %>

    <% if can? :manage, Equipment %>
      <li class="mt-2">
        <a href="/equipment" class="text-gray-100 hover:font-bold">EQUIPMENT</a>
      </li>
    <% end %>

    <% if can? :manage, Transfer %>
      <li class="mt-2">
        <a href="/transfers/" class="text-gray-100 hover:font-bold">US OPEN</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/transfers/new" class="text-gray-100 hover:font-bold">- Add New Attendee</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/transfers/" class="text-gray-100 hover:font-bold">- Event Attendees</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/transfers/inbound_pickups_transfers_path" class="text-gray-100 hover:font-bold">- Arrivals Transfers</a>
      </li>
      <li class="mt-2 ml-2">
        <a href="/transfers/outbound_pickups_transfers_path" class="text-gray-100 hover:font-bold">- Departure Transfers</a>
      </li>
    <% end %>
  <% end %>
      
  <% if current_user.admin? %>  
    <li class="mt-2 text-blue-300 font-semibold">
      Admin Only
    </li>
    <li class="mt-2 ml-2">
      <a href="/clubs/teams_list_index" class="text-blue-300 hover:font-bold">Clubs Report</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/budgets" class="text-blue-300 hover:font-bold">Budgets</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/references/" class="text-blue-300 hover:font-bold">Ref Data</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/sample_words" class="text-blue-300 hover:font-bold">Sample Wording</a>
    </li>
    <li class="mt-2 ml-2">
      <a href="/users" class="text-blue-300 hover:font-bold">Users</a><br>
    </li>
    <br><br>
  <% end %>
</ul>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 