<% content_for(:page_title, "Team Members: Edit #{@member.full_name}")%>

<main class="container">
 
 <%= turbo_frame_tag @member do %>
  <%= render "form", club: @club, member: @member  %>
<% end %>
  
  <br>
  <%= link_to sanitize("&larr; Back to club"), club_path(@club) %>
  
</main>
