<% content_for(:page_title, "Team Members: Edit #{@member.full_name}")%>

<main class="container">
 
 <%= turbo_frame_tag @member do %>
  <%= render "form", na_team: @na_team, member: @member  %>
<% end %>
  
  <br>
  <%= link_to sanitize("&larr; Back to team"), na_team_path(@na_team) %>
  
</main>
